<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylecheet" href="/static/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>Hello</title>
</head>
<body>
    <div class="row">
        <header>
        <div class="row">
            <h1>{% block title %}{% endblock %}</h1>
        </div>
        <div class="row">
            <nav>
                <li><a href="/">Top</a></li>
            </nav>
        </header>
    <div class="container">
    {%block content%}
    {% endblock %}
    </div>
</body>

</html>